<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Blunt</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-static-top navbar-expand-custom navbar-mainbg" role="navigation">
            <a href="/" class="navbar-brand navbar-logo">Le Blunt</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
        </nav>
    </div>
</body>
</html>